*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.selectContainer {
  display: flex;
}

.switch {
  width: 18px;
}

#selectContainer-inputText {
  width: 100px;
  height: 30px;
  border-radius: 5px;
}

.switchContainer {
  width: 30px;
  height: 30px;
  border: solid 2px hsl(197, 100%, 46%);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in;
}

.switchContainer:hover {
  transform: rotate(180deg);
}

#convertBtn {
  border: solid 2px hsl(197, 100%, 46%);
  height: 30px;
  width: 80px;
  border-radius: 30px;
  background-color: white;
  color: hsl(197, 100%, 46%);
}

#convertBtn:hover {
  background-color: hsl(197, 100%, 46%);
  color: white;
}
