@import url("https://fonts.googleapis.com/css2?family=Mada:wght@400;600&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1 {
  margin-bottom: 25px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Mada", sans-serif;
}

.error {
  visibility: hidden;
}

#errorSpan {
  font-size: 0.9em;
  color: rgb(224, 20, 20);
}

.selectContainer {
  display: flex;
}

select {
  border-radius: 5px;
  margin: 0 5px;
}

.switch {
  width: 18px;
}

#selectContainer-inputText {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  margin-right: 10px;
}

.switchContainer {
  width: 30px;
  height: 30px;
  border: solid 2px hsl(197, 100%, 46%);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in;
}

.switchContainer:hover {
  transform: rotate(180deg);
  cursor: pointer;
}

#convertBtn {
  border: solid 2px hsl(197, 100%, 46%);
  height: 30px;
  width: 80px;
  border-radius: 30px;
  background-color: white;
  color: hsl(197, 100%, 46%);
  margin-top: 10px;
}

#convertBtn:hover {
  background-color: hsl(197, 100%, 46%);
  color: white;
  cursor: pointer;
}

.convertContainer {
  display: flex;
  flex-direction: column;
}

.resultContainer {
  margin-top: 20px;
  font-size: 1.1em;
}
